[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CMTFtoolbox"]
	path = CMTFtoolbox
	url = https://github.com/grvanderploeg/cmtftoolbox
[submodule "NPLStoolbox"]
	path = NPLStoolbox
	url = https://github.com/grvanderploeg/nplstoolbox
[submodule "parafac4microbiome"]
	path = parafac4microbiome
	url = https://github.com/grvanderploeg/parafac4microbiome
